<!DOCTYPE html>
<html lang="en">

<head>
    <!-- File(s) -->
    <link rel="stylesheet" href="/assets/css/style.css" />
    <link rel="stylesheet" href="/assets/css/style-mobile.css" />

    <!-- METAs -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#2D4263" />
    <meta property="og:title" content="Nora's Journal" />
    <meta property="og:description" content="Chapter @{chapter.number}: @{chapter.short_title}" />

    <!-- Title -->
    <title> Nora's Journal - [@{chapter.short_title}] </title>
</head>

<body>
    <!-- TODO: Header -->
    <!-- <br /><br /> -->
    <div class="header">
        <div class="header-logo">
            <a class='no-link' href="/">Nora's Journal</a>
        </div>
    </div>

    <!-- Cover -->
    <div class="story-cover" style='opacity: 1;background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 50%, #000000 100%), url("@{chapter.header}");' tabindex="99"></div>


    <div class="story-body absolute-center">
        <!-- Title -->
        <div class="story-title">
            <h4> @{chapter.characters} </h4>
            <h1> @{chapter.title} </h1>
            <hr />
            <h3> Written by @{chapter.author} </h3>
        </div>

        <!-- Chapter(s) -->
        <div class="story-chapter">
            <!-- Chapter title -->
            <h1 id="title">
                <a href="#title" class="story-chapter-title-anchor">#</a> <u>@{chapter.name}</u> – “@{chapter.subject}”
            </h1>

            <!-- Content -->
            <div class="story-decor">※　※　※　※　※　※　※　※　※　※　※　※</div> <br />
            <div class="story-content">
                <!-- Insert Chapter code here -->
                @{chapter.html}
            </div>
        </div>

        <!-- End chapter -->
        <div class="story-decor">※　※　※　※　※　※　※　※　※　※　※　※</div> <br />

        <!-- Next Chapter -->
        @if !isnil(chapter.next_chapter)
        <div class="story-next">
            <a class="link-when-hovered" href="/chapters/${chapter.next_chapter.number}-${chapter.next_chapter.episode}.html">
                → Next Chapter: [Chapter ${chapter.next_chapter.number} - ${chapter.next_chapter.title}]
            </a>
        </div>
        @else
        <div class="story-middle">
            <a style="font-family: 'Old Standard TT', sans-serif;">
                <h1 style="margin: 0 0 0 0">To be continued.</h1>
            </a>
        </div>
        @end

    </div>
    </div>
</body>

</html>